{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Price in Hours {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        Yearly Income (in Thousands):
        <input type="text" name="yearly-k" placeholder="50" class="form-control"
            value="{{ 50 or request.form['yearly-k'] }}">
        Price:
        <input type="text" name="price" placeholder="10.99" class="form-control" 
            value="{{ 10.99 or request.form['price'] }}">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


{% if has_price_in_hours %}
Price in hours: <b>{{ price_in_hours }}</b> (That's {{ price_in_minutes }} minutes!)
<br>
Assuming you work 262 working days in a year, 8 hours a day.
{% endif %}

{% endblock %}