{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Price in Hours {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        Monthly Income:
        <input type="text" name="monthly-income" placeholder="50" class="form-control"
            value="{{ request.form['monthly-income'] or 4000 }}">
        Price:
        <input type="text" name="price" placeholder="4.15" class="form-control" 
            value="{{ request.form['price'] or 4.15 }}">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


{% if has_price_in_hours %}
Price in hours: <b>{{ price_in_hours }}</b> (That's {{ price_in_minutes }} minutes!)
<br>
Assuming you work 262 working days in a year, 8 hours a day.
{% endif %}

{% endblock %}